.campos-formulario{
    display:flex;
    align-items: flex-start;

}

.boton-buscar{
    width: 150px;
    margin-top: 15px;

}

mat-for-field{
    margin-right: 10px;


}

table{
    width:100%;

}

.input-filter{
    width: 100%;
    font-size: 14px;

}